{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | EventEveryday{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/eventeveryday.css' %}">
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}" class="eventeveryday-brand">
      <span class="eventeveryday-mark" aria-hidden="true">E</span>
      <span class="eventeveryday-wordmark">
        <strong>EventEveryday</strong>
        
      </span>
    </a>
  </div>
{% endblock %}

{% block userlinks %}
  {% if site_url %}
    <a href="{{ site_url }}" class="view-site-link">{% translate 'View site' %}</a>
  {% endif %}
  {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
  {% endif %}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}
